* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0, 0%, 95%);
}

.flexwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: row;
  max-width: 57.95rem;
  /* min-width: 20.438rem; */
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border-radius: 8px;
  overflow: hidden;
}

.sedans,
.suvs,
.lux {
  width: 19.188rem;
  padding-bottom: 3.5rem;
}

img {
  margin-left: 2.969rem;
  margin-top: 3rem;
}

h2 {
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;

  text-transform: uppercase;
  color: #f2f2f2;
  margin-left: 3rem;
  margin-top: 2.188rem;
}

p {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
  width: 13.25rem;
  margin-left: 2.969rem;
  margin-top: 2.125rem;
  margin-bottom: 5.188rem;
}

.button {
  border: 0.15rem solid transparent;
  margin-left: 3rem;
  padding: 0.75rem 2.031rem;
  background: #f2f2f2;
  border-radius: 25px;
  font-size: 15px;
  line-height: 1.5;
  font-family: Lexend Deca;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background: none;
  color: #f2f2f2;
  border: #f2f2f2 solid 0.15rem;
}

.sedans {
  background: #e28625;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.sedans .button {
  color: #e28625;
}
.sedans .button:hover {
  color: #f2f2f2;
}

.suvs {
  background: #006971;
}
.suvs .button {
  color: #006971;
}
.suvs .button:hover {
  color: #f2f2f2;
}

.lux {
  background: #004140;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.lux .button {
  color: #004140;
}
.lux .button:hover {
  color: #f2f2f2;
}

/* Attribution */
.attribution {
  font-family: Lexend Deca;
  color: #004140;
  margin-top: 1rem;
  font-size: .9rem;
}
.attribution a {
  text-decoration: none;
  color: #006971;
}
.attribution a:hover {
  color: #e28625;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}

/* Media Queries */

@media (max-width: 920px) {
  .card {
    background: pink;
    flex-direction: column;
    margin-top: 3.5rem;
  }
  .sedans {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
  .lux {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
  }
}